@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Dependencies/JQuery/jquery-1.11.1.js"></script>
    <script src="~/Dependencies/web/Command.js"></script>
    <title>Order</title>
</head>
<body>
    <div>
    </div>
    <script src="~/Views/ShowNewOrder/NewOrderViewModel.js"></script>
</body>
</html>
